table { 
    border-spacing: 3px;
    border-collapse: separate;
      table-layout: fixed;
}

td { 
    padding: 3px;
      border: 1px solid ;
        border: 1px solid #ccc;
           width: 100px;
           vertical-align:top;
      
}
    th { 
    padding: 3px;
      border: 1px solid ;
        border: 1px solid #ccc;
        background-color: #F6F6F6;
           width: 100px;
           vertical-align:top
 
}