<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <div class="nav-wrapper container">
      <a class="brand-logo">Code'nDoc</a>
      <ul class="right ">
        <li>
          <a md-icon-button [mdMenuTriggerFor]="appMenu">
            {{ firstName }}<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>


<md-menu #appMenu="mdMenu">
  <button  [routerLink]="['/dashboard']" md-menu-item>Projects </button>
  <button  [routerLink]="['/profile']" md-menu-item> Profile </button>
  <button  (click)="logout()" md-menu-item> Log Out </button>
</md-menu>



<!-- Tap Target Structure -->
  <div class="tap-target" data-activates="addbtn">
    <div class="tap-target-content">
      <h5 class="white-text">Hello!</h5>
      <p class="white-text">Try adding a new project</p>
    </div>
  </div>
          

  
<div  class="fixed-action-btn">
  <a id="addbtn" class="btn-floating btn-large waves-effect waves-light " data-target="addProjectModal">
      <i class="large material-icons">add</i>
    </a>
</div>

<form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">

  <!-- Modal Structure -->
  <div id="addProjectModal" class="modal ">
    <div class="modal-content">
      <h4>Add a new project</h4>
      <div class="row">
        <div class="input-field col s12 m11">
          <input [ngClass]="{'inputFieldError': formErrors.name}" class="inputFieldWithError" id="name" type="text" formControlName="name">
          <label for="name">Project Name</label>
        </div>
        <div class="row inputFieldErrorMessageRow">
          <div class="col s12 m11">
            <div class="inputFieldErrorMessage" *ngIf="formErrors.name" style="margin-left: 0px !important">
              {{ formErrors.name }}
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="file-field input-field col s12 m11">
          <div class="btn ">
            <span>Logo</span>
            <i class="material-icons right">file_upload</i>
            <input type="file" id="fileUpload" accept="image/*" (change)="onChange($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path " id="filePath" type="text">
          </div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

    </div>
  </div>
</form>


<div class="container">
  <h5 class="">Your Projects</h5>
  <div class="row">
    <div *ngFor="let item of projectList">

      <div class="col s12 m4">
        <div class="card hoverable z-depth-5">
          <div class="card-image" >
            <img  src="data:image/png;base64,{{item.img}}"  />
          </div>
          <div class="card-content">
            <p>{{item.name}}</p>
          </div>
          <div class="card-action">
            <a [routerLink] = "['/project',item._id]" >Open</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
