<style>
  img {
    display: block;
    max-width: 230px;
    max-height: 112px;
    width: auto;
    height: auto;
  }
</style>
<ul id="slide-out" class="side-nav fixed " style="height: calc(100% - 65px) !important;;  transform: translateX(0%) !important;margin-top: 65px;">
  <li>
    <div class="user-view" style="margin-top: 20px; height: 112px;">
      <div class="background" style="margin: auto;">
        <img src="data:image/png;base64,{{project.img}}" style="margin: auto" />
      </div>
    </div>
  </li>
  <div style="margin: auto;text-align: center;font-weight: bold">
    {{project.name}}
    <!--needs to be updated in build  -->
    <a target="_blank" href="http://localhost:4000/docsApp/docs/{{projectName}}" title="go to docs" style="cursor: pointer">
    <i class="fa fa-external-link" aria-hidden="true"></i>
  </a>
  </div>
  <div [sortablejs]="categories" [sortablejsOptions]="optionsCategory" style="margin-top: 20px;">
    <div *ngFor="let category of categories">
      <li>
        <a class="showhim" style="line-height: 35px; height: 35px;">
          <div class="truncate" style="display:inline-block;width: 176px;">
            {{category.name}}
          </div>
          <span class="showme" style="margin-left: 5px;">
            <a (click) = "onClickUpdateCategory(category.order)" style="cursor: pointer; margin-left: 4px;" title="Update category" class="icon"> <i class="fa fa-pencil-square-o"></i> </a>
            <a (click) = "onClickAddPage(category.order,null)" style="cursor: pointer; margin-left: 4px;" title="Add Page" class="icon"> <i class="fa fa-plus"></i> </a>
            <a (click) = "onRemoveCategory(category.order)" style="cursor: pointer; margin-left: 4px;" title="Remove Category" class="icon"> <i class="fa fa-times"></i> </a>
          </span>
        </a>
        <ul>
          <div [sortablejs]="category.pages" [sortablejsOptions]="optionsPages">
            <div *ngFor="let page of category.pages">
              <li>
                <a routerLinkActive="myActive" class="blue-text showhim" style="line-height: 35px; height: 35px;">
                  <div [routerLink]="['page',page._id]" class="truncate" style="padding-left: 10px;display:inline-block;width: 197px; cursor: pointer;outline: none;">
                    {{page.name}}
                  </div>
                  <span class="showme" style="margin-left: 5px;">
               
                    <a (click) = "onClickAddPage(category.order,page.order)" style="cursor: pointer; margin-left: 4px;" title="Add sub page" class="icon"> <i class="fa fa-plus"></i> </a>
                    <a (click) = "onRemovePage(category.order,page.order,null)" style="cursor: pointer;margin-left: 4px;" title="Remove page" class="icon"> <i class="fa fa-times"></i> </a>
                  </span>
                </a>
                <ul>
                  <div [sortablejs]="page.subPages" [sortablejsOptions]="optionsPages">
                    <div *ngFor="let subPage of page.subPages">
                      <li>
                        <a routerLinkActive="myActive" class="green-text showhim" style="line-height: 35px; height: 35px;">
                          <div [routerLink]="['page',subPage._id]" class="truncate" style="padding-left: 20px;display:inline-block;width: 215px;cursor: pointer;outline: none;">
                            {{subPage.name}}
                          </div>
                          <span class="showme" style="margin-left: 5px;">
                            <a (click) = "onRemovePage(category.order,subPage.order,page.order)" style="cursor: pointer;margin-left: 4px;" title="Remove page" class="icon"> <i class="fa fa-times"></i> </a>
                          </span>
                        </a>
                      </li>
                    </div>
                  </div>
                </ul>
              </li>
            </div>
          </div>
        </ul>
      </li>
    </div>
  </div>
  <button *ngIf="categories" class="waves-effect waves-light pink accent-2 btn" [ngClass]="{'pulse':categories.length==0}"
    style="margin: auto !important;display: block;margin-top: 30px !important;margin-bottom: 30px !important;" name="addCategory"
    (click)="onClickAddCategory()"> add Category </button>
</ul>


<form [formGroup]="addCategoryForm" (ngSubmit)="onAddOrUpdateCategorySubmit()">

  <div id="addOrUpdateCategoryModal" class="modal ">
    <div class="modal-content">
      <h4>{{ categoryModalTitle}}</h4>
      <div class="row">
        <div class="input-field col s12 m11">
          <input [ngClass]="{'inputFieldError': formErrors.name}" class="inputFieldWithError" id="categoryName" type="text" formControlName="name">
          <label for="categoryName">Category Name</label>
        </div>
        <div class="row inputFieldErrorMessageRow">
          <div class="col s12 m11">
            <div class="inputFieldErrorMessage" *ngIf="formErrors.name">
              {{ formErrors.name }}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light pink accent-2" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

    </div>
  </div>
</form>



<form [formGroup]="addPageForm" (ngSubmit)="onAddPageSubmit()">

  <div id="addPageModal" class="modal ">
    <div class="modal-content">
      <h4> Add a new page</h4>
      <div class="row">
        <div class="input-field col s12 m11">
          <input [ngClass]="{'inputFieldError': pageFormErrors.name}" class="inputFieldWithError" id="pageName" type="text" formControlName="name">
          <label for="pageName">Page Name</label>
        </div>
        <div class="row inputFieldErrorMessageRow">
          <div class="col s12 m11">
            <div class="inputFieldErrorMessage" *ngIf="pageFormErrors.name">
              {{ pageFormErrors.name }}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light pink accent-2" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

    </div>
  </div>
</form>

<router-outlet></router-outlet>