
<md-menu #appMenu="mdMenu">
  <button  (click)="navigateToPage('dashboard')" md-menu-item>Projects </button>
  <button  (click)="navigateToPage('profile')" md-menu-item> Profile </button>
  <button  (click)="navigateToPage('logOut')" md-menu-item> Log Out </button>
</md-menu>

  <div class="navbar-fixed">
<nav>
    <div class="nav-wrapper container">
      <a  class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right">
        <li [ngClass]="{'active':activeRoute=='docs'}"><a (click)="navigateToPage('docs')">Documentation</a></li>
        <li  [ngClass]="{'active':activeRoute=='config'}"><a (click)="navigateToPage('config')">Settings</a></li>
        <li> <a md-icon-button [mdMenuTriggerFor]="appMenu">
            {{ firstName }}<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div></nav>
  </div>


  <div id="NavModal" class="modal">
  <div class="modal-content">
    <h4>Unsaved Changes</h4>
    <p>Are you sure you want to leave and discard the changes ?</p>
  </div>
  <div class="modal-footer">
    <a (click)="cancelNavigation()" class="waves-effect waves-red btn-flat" >Cancel</a>
    <a (click)="confirmNavigation()" class="waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>

    <router-outlet></router-outlet>
