
<md-menu #appMenu="mdMenu">
  <button  [routerLink]="['/dashboard']" md-menu-item>Projects </button>
  <button  [routerLink]="['/profile']" md-menu-item> Profile </button>
  <button  (click)="logout()" md-menu-item> Log Out </button>
</md-menu>

  <div class="navbar-fixed">
<nav>
    <div class="nav-wrapper container">
      <a  class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right">
        <li routerLinkActive="active"><a [routerLink]="['docs']">Documentation</a></li>
        <li routerLinkActive="active"><a [routerLink]="['config']">Settings</a></li>
        <li> <a md-icon-button [mdMenuTriggerFor]="appMenu">
            {{ firstName }}<i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div></nav>
  </div>


  

    <router-outlet></router-outlet>
