<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>

      <h1 class="header center ">Code'n'doc</h1>
      <div class="row center">
        <h5 class="header col s12 light ">A modern Tool to help you create API documentation as fast as possible </h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button"
          class="btn-large waves-effect" [routerLink]="['../signup']">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center secondary-text-color"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up documentation</h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center secondary-text-color"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center secondary-text-color"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern Tool to help you create API documentation as fast as possible </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/img1.png" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send text-primary-color"></i></h3>
        <h4>Created by <a target="_blank" href="http://devrecipe.com"><img src="https://devrecipe.com/images/logo-color.png"/></a></h4>
        <p>
        Devrecipe is a creative IT company helping startups and developers build their products, founded in 2017 and based in Tozeur, Tunisia.
        </p>
      </div>
    </div>

  </div>
</div>


