<!-- <div style="margin: 20px 0;"> -->
<div>
  <div class="row" style="margin-bottom: 5px">
    <div class="input-field col s4" style="margin: 0px;">
      <select class="browser-default" style="height: 30px;" [(ngModel)]="data.language" (ngModelChange)="onLanguageChange($event)">
        <option *ngFor="let language of languages" [ngValue]="language.mimeType">
          {{language.name}}
        </option>
      </select>
    </div>
      <div class="input-field col s4"  style="margin: 0px;">
      <select class="browser-default" style="height: 30px;" [(ngModel)]="data.theme" (ngModelChange)="onThemeChange($event)">
        <option *ngFor="let theme of themes" [ngValue]="theme">
          {{theme}}
        </option>
      </select>
    </div>
  </div>

  <codemirror #myEditor [(ngModel)]="data.code" (ngModelChange)="modelChanged($event)" [config]="codeConfig"></codemirror>

</div>