<div style="margin-top: 4%">
  <div class="container ">
    <form [formGroup]="userSignUpForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="assets/img/signup.png">
          </div>
          <div class="card-stacked">
            <div class="card-content z-depth-1">



              <div class="row">
                <div class="input-field col s12 m5">
                  <input [ngClass]="{'inputFieldError': formErrors.firstName}" class="inputFieldWithError" id="firstName" type="text" formControlName="firstName">
                  <label for="firstName">First Name</label>
                </div>
                <div class="input-field col s12 m5">
                  <input [ngClass]="{'inputFieldError': formErrors.lastName}" class="inputFieldWithError" id="lastName" type="text" formControlName="lastName">
                  <label for="lastName">Last Name</label>
                </div>

                <div class="row inputFieldErrorMessageRow" style="margin-bottom: 18px!important">
                  <div class="col s12 m5">
                    <div class="inputFieldErrorMessage" *ngIf="formErrors.firstName">
                      {{ formErrors.firstName }}
                    </div>
                  </div>

                  <div class="col s12 m5">
                    <div style="margin-left: 3px !important" class="inputFieldErrorMessage" *ngIf="formErrors.lastName">
                      {{ formErrors.lastName }}
                    </div>
                  </div>
                </div>
              </div>

                   <div class="row">
                  <div class="input-field col s12 m10">
                    <input [ngClass]="{'inputFieldError': formErrors.email}" class="inputFieldWithError"
                    id="email" type="text" formControlName="email">
                    <label for="email">Email</label>
                  </div>
                  <div class="row inputFieldErrorMessageRow">
                    <div class="col s12 m10">
                      <div class="inputFieldErrorMessage" *ngIf="formErrors.email">
                        {{ formErrors.email }}
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="row">
                  <div class="input-field col s12 m10">
                    <input [ngClass]="{'inputFieldError': formErrors.userName}" class="inputFieldWithError"
                    id="userName" type="text" formControlName="userName">
                    <label for="userName">Login</label>
                  </div>
                  <div class="row inputFieldErrorMessageRow">
                    <div class="col s12 m10">
                      <div class="inputFieldErrorMessage" *ngIf="formErrors.userName">
                        {{ formErrors.userName }}
                      </div>
                    </div>
                  </div>
                </div>

           
           
           <div class="row">
                <div class="input-field col s12 m5">
                  <input [ngClass]="{'inputFieldError': formErrors.password}" class="inputFieldWithError" id="password" 
                  type="password" formControlName="password">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s12 m5">
                  <input [ngClass]="{'inputFieldError': formErrors.passwordConfirmation}" class="inputFieldWithError" id="passwordConfirmation" 
                  type="password" formControlName="passwordConfirmation">
                  <label for="passwordConfirmation">Password Confirmation</label>
                </div>

                <div class="row inputFieldErrorMessageRow" style="margin-bottom: 18px!important">
                  <div class="col s12 m5" >
                    <div class="inputFieldErrorMessage" *ngIf="formErrors.password">
                      {{ formErrors.password }}
                    </div>
                  </div>

                  <div class="col s12 m5" >
                    <div style="margin-left: 3px !important" class="inputFieldErrorMessage" *ngIf="formErrors.passwordConfirmation">
                      {{ formErrors.passwordConfirmation }}
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <div class="card-action">
              <a [routerLink]="['../signin']">Already have an account ?</a>
              <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>