<div style="margin: 20px 0;">
  <p-editor [(ngModel)]="data.value" (ngModelChange)="modelChanged($event)" [style]="{'height':'auto'}" [formats]="['background','bold','color','italic','link','size','strike','underline','indent','list','align','image','video']">
    <p-header>
      <span class="ql-formats">
      <select class="ql-size">
         <option value="small"></option>
         <option selected></option>
         <option value="large"></option>
         <option value="huge"></option>
      </select>
   </span>
      <span class="ql-formats">
   <button class="ql-bold"></button>
   <button class="ql-italic" ></button>
   <button class="ql-underline" ></button>
   <button class="ql-strike" ></button>

   </span>
      <span class="ql-formats">
   <select class="ql-color"></select>
   <select class="ql-background"></select>
   </span>
      <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button> 
      <select class="ql-align">
         <option selected></option>
         <option value="center"></option>
         <option value="right"></option>
         <option value="justify"></option>
      </select>
        <button class="ql-indent" value="-1"></button>
      <button class="ql-indent" value="+1"></button>
      
   </span>
      <span class="ql-formats">
   <button class="ql-link"></button>
   <button class="ql-image"></button>
      <button class="ql-video"></button>
   </span>
    </p-header>
  </p-editor>

</div>
